.exists-locations-list
{
    margin-left: 14%;
    overflow: auto; 
    /* width: 90%;  */
}

.location-breadcrumb
{
    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
    height: 200px;
    border: solid 1px #bcc851;
    float: left;  
    overflow: hidden;
    text-overflow: ellipsis;
}


.location-breadcrumb .title
{
    background-color: #6295CB;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    height: 27px;
    padding-left: 5px;
}


.location-breadcrumb .item-param
{
    padding: 5px;
    opacity: 0.7;
    background: slategrey;
}
