.top-nav-container {
    width: 98%;
    border: 1px #E77FC9 solid;
    background-color: #1C1A19;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5%;

}

.top-nav-container img {
    height: 65px;
    width: 65px;
    float: left;
}

.top-nav-links {
    text-align: center;
    padding: 1%;
    margin-bottom: 6px;
}

.top-nav-container a {
    padding: 5%;
    text-decoration: none;
    color: #679ED8;
    font-weight: bold;
    font-family: Snell Roundhand, cursive;
}