.CompanyItem
{
    background-color: rgb(170, 252, 225);
    width: 50%;
    height: auto;
}

.DeleteCompany
{
    margin-top: 15px;;
    border: black 1px solid;
    padding: 1px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}