.breadcrumbs-list-container
{
    margin-left: 20%;
    overflow: auto; 
    width: 90%; 
}

.company-breadcrumb
{

    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
    height: 200px;
    border: solid 1px #92b0d8;
    float: left;  
    overflow: hidden;
    text-overflow: ellipsis;
}

.company-breadcrumb .title
{
    background-color: #5187c8;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    height: 27px;
    padding-left: 5px;
}

.company-breadcrumb .short-descripton
{
    padding: 5px;
}
